body {
	background: url("./images/background3.jfif");
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3fc182;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

header {
    margin-bottom: 50px;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

li a:hover {
    background-color: rgb(134, 133, 133);
}
  
.active {
    background-color: rgb(68, 67, 67);
}

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}

footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
}

td {
    padding: 8px;
    padding-right: 24px;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footerlink {
    color: white;
}

article {
    max-width: 70%;
    flex-direction: column;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 4px;
    padding-left: 10px;
    background-color: rgb(155, 154, 154);
    text-align: center;
}

section {
    margin-top: 5px;
    margin-bottom: 20px;
}

i {
    color: #3fc182;
}

.mainlinks {
    color: #3fc182;
}

.studychoice {
    background-color: rgb(155, 154, 154);
}

.swot {
    background-color: rgb(134, 133, 133);
}

.programmingexperience {
    background-color: rgb(100, 100, 100);
}

.feedback {
    background-color: rgb(68, 67, 67);
}

.profession {
    background-color: rgb(32, 32, 32);
}